body{
    background-color: lightblue;
}

h1{
    background-color: lightblue;
    font-size:1.5em;
    color: aliceblue ;
    font-family:sans-serif;
}

p{
    background-color: lightblue;
    font-size:1.0em;
    color: deepskyblue ;
    font-family:sans-serif;
}

h2{
    background-color: lightblue;
    font-size:1.5em;
    color: aliceblue ;
    font-family:sans-serif;
}

ol{
    background-color:lightblue;
    font-size:1.5em;
    color: deepskyblue ;
    font-family:sans-serif;
}

li:nth-child(even){
    background-color:powderblue;
}

h3{
    background-color: lightblue;
    font-size:1.5em;
    color: aliceblue ;
    font-family:sans-serif;
}

ul{
    background-color: lightblue;
    font-size:1.5em;
    color: deepskyblue;
    font-family:sans-serif;

}

li:nth-child(odd){
    background-color: cornflowerblue;
}

a:hover{
    color:purple;
}

blockquote{

}

table{
    background-color: lightblue;
    font-size:1.5em;
    color: deepskyblue ;
    font-family:sans-serif;
}
td:nth-child(odd){
    background-color: aliceblue;
}

td:nth-child(even){
    background-color: lightskyblue;
}